<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.willkim.wkwhisperkey">
  <application android:label="WkWhisperKey">
    <service
      android:name=".ime.WkWhisperKeyIME"
      android:permission="android.permission.BIND_INPUT_METHOD"
      android:exported="true">
      <intent-filter>
        <action android:name="android.view.InputMethod" />
      </intent-filter>
    </service>
  </application>
</manifest>
